$darkBackgroundBlack: #2c2c2c;
$darkBlack: #797979;
$darkBorderColor: #5c5c5c;

.dark-background {
  background-color: $darkBackgroundBlack;
  color: white;
}
.dark-object {
  background-color: $darkBlack;
  color: white;
}
body.dark {
  @extend .dark-background;
  .ui {
    &.tabular.menu {
      border-bottom: none;
      .item {
        @extend .dark-background;
      }
      .active.item {
        @extend .dark-object;
        border: 1px solid $darkBorderColor;
      }
    }
    &.container,
    &.tab {
      @extend .dark-object;
      h3.ui.header,
      h1.ui.header,
      .sub.header {
        color: white;
      }
      &.active {
        border-color: $darkBorderColor;
      }
    }
    .form {
      label {
        color: white;
      }
    }
  }
  .game-dev-software-module-application-params-identity-segment.inverted {
    border: 1px solid $darkBorderColor;
    @extend .dark-background;
    span.game-dev-software-module-application-params-identity-segment-title {
      color: white;
      background: linear-gradient(
        0deg,
        $darkBackgroundBlack 50%,
        $darkBlack 50%
      );
    }
    span.game-dev-software-module-application-params-identity-segment-title-label-form {
      background: $darkBackgroundBlack;
    }
  }
  .game-dev-software-module-application-params-mobile-action-segment.inverted {
    background-color: $darkBackgroundBlack;
    .container {
      background-color: $darkBackgroundBlack;
    }
  }
  a {
    color: white;
    text-decoration: underline;
  }
  .ui.table td.active,
  .ui.table tr.active {
    background-color: $darkBorderColor !important;
  }
  form.ui.form {
    background: $darkBackgroundBlack;
    padding: 30px 11px;
    color: white;
    height: 100%;
    border-radius: 5px;
  }
  .game-dev-software-file-preview-container {
    background-color: $darkBackgroundBlack;
    aside {
      background-color: $darkBackgroundBlack;
    }
  }
}
