.game-dev-software-file-preview-content {
  max-width: 100%;
  max-height: 68vh;
  overflow: auto;
  img {
    max-width: 100%;
  }
}
.game-dev-software-form-container {
  padding: 0 14px !important;
}
.game-dev-software-module-home-project-segment {
  .row,
  .column {
    margin-bottom: 10px !important;
  }
}
