.game-dev-software-module-translation-form-container {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80vh;
  padding: 20px;
}
.game-dev-software-module-translation-header {
  .column {
    margin-top: 10px !important;
  }
}
