.game-dev-software-table-component {
  margin-top: 30px !important;
  table.ui.table {
    tbody {
      overflow: auto;
      display: block;
      max-height: 60vh;
      tr {
        cursor: pointer;
      }
    }
  }
  .game-dev-software-table-component-search {
    > div {
      width: 100%;
    }
  }
}
